

// Color principal, es usado en botones, etiquetas, enlaces
principal_color = #3cbc8d
// Color secundario, es usado en la bara de navegacion y contenedores
secondary_color = #FFFFFF
// Color de textos
label_color = #333333

$clearfix()
    *zoom 1
    &:after
        content ''
        display block
        clear both
        height 0

$absolute($args...)
    position absolute

    if length($args) == 4
        if $args[0] != false
            top $args[0]

        if $args[1] != false
            right $args[1]

        if $args[2] != false
            bottom $args[2]

        if $args[3] != false
            left $args[3]
    else if length($args) == 3
        if $args[0] != false
            top $args[0]

        if $args[1] != false
            right $args[1]

        if $args[2] != false
            bottom $args[2]
    else if length($args) == 2
        if $args[0] != false
            top $args[0]

        if $args[1] != false
            right $args[1]
    else
        if $args[0] != false
            top $args[0]


$centerImage($width = 100%)
    display block
    margin 0 auto
    width $width

$noSelect()
    outline none
    touch-callout none
    user-select none

$fa($code, $size = 1em, $color = #EEE, $bgColor = transparent)
    background-color $bgColor
    color $color
    content $code
    font-family FontAwesome
    font-size $size

$borderRadius($radius = 5px, $args...)
    if length($args) == 3
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
        border-bottom-left-radius $args[1]
        border-top-left-radius $args[2]
    else if length($args) == 2
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
        border-bottom-left-radius $args[1]
    else if length($args) == 1
        border-top-right-radius $radius
        border-bottom-right-radius $args[0]
    else
        border-radius $radius

$resetUl()
  margin 0
  padding 0
  list-style none

.arrow
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 11px;

    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #DDDDDD
    top: -11px;
    left: 75px
